# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
coverage/

# Env / secrets
.env
.env.*
!.env.example
!**/.env.example
!.env.production.example

# Logs / OS
*.log
npm-debug.log*
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Prisma
server/prisma/*.db
server/prisma/*.db-journal

# Tests
*.tsbuildinfo
